#Home{
    background-image: url(https://www.designi.com.br/images/preview/10894398.jpg);
    height: calc(100vh - 56px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#fundo{
    background-color: rgba(0, 0, 0, 0.705);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
    color: white;
    padding: 20px 0px;
    font-size: 25pt;
}
div#texto{
    width: 100%;
    text-align: center;
}
button{
    background-color: rgb(219, 219, 219);
    color: chocolate;
    border: none;
    border-radius: 10px;
    padding: 7px 20px;
    margin: 10px;
    transition: .5s;
}
button:hover{
    background-color: chocolate;
    color: white;
}

footer{
    position: absolute;
    bottom: 10px;
    color: white;
}
@media screen and (max-width:441px) {
    #Home{
        background-size: cover;
        background-position: center;
        height: calc(100vh - 56px);
    }
    #fundo{
        height: 100%;
    }
}